<h1><b>VIEW CONTRACT</b></h1>
<!--Form that to get filter option for hotel name and room type  -->
<form [formGroup]="viewContractForm" id="searchContractForm" (ngSubmit)="search()">
    <div class="grid-container">
        <div class="card-2">
            <!-- select hotel name -->
            <mat-form-field appearance="fill">
                <mat-label>Hotel Name</mat-label>
                <mat-select required formControlName="name" (selectionChange)="update()">
                    <mat-option *ngFor="let item of hotelList" value="{{item.name}}">{{item.name}}</mat-option>
                </mat-select>
                <mat-error
                    *ngIf="viewContractForm.get('name')?.invalid && viewContractForm.get('name')?.touched"><b>Select
                        The Name</b></mat-error>
            </mat-form-field>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <!-- selecet the room type under under hotel name -->
            <mat-form-field appearance="fill">
                <mat-label>Room Type</mat-label>
                <mat-select required formControlName="type">
                    <mat-option *ngFor="let item of typeList" value="{{item.type}}">{{item.type}}</mat-option>
                </mat-select>
                <mat-error *ngIf="viewContractForm.get('type')?.invalid && viewContractForm.get('type')?.touched"><b>
                        Select
                        The Type Under Selected Hotel</b></mat-error>
            </mat-form-field>
        </div>
    </div>
    <button mat-raised-button color="primary" class="button"
        [disabled]="viewContractForm.invalid||isPendding">Search</button>
</form>
<h3 style="color: red;padding: 0.5%;"><b>You can only delete processing contract only</b></h3>
<mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
</mat-form-field>

<!-- show the contract list in the table -->
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!-- id Column -->
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element;index as i"> {{i+1}} </td>
    </ng-container>

    <!-- Start date Column -->
    <ng-container matColumnDef="start">
        <th mat-header-cell *matHeaderCellDef> Start Date </th>
        <td mat-cell *matCellDef="let element"> {{element.start}} </td>
    </ng-container>

    <!-- End date Column -->
    <ng-container matColumnDef="end">
        <th mat-header-cell *matHeaderCellDef> End Date </th>
        <td mat-cell *matCellDef="let element"> {{element.end}} </td>
    </ng-container>

    <!-- Price Column -->
    <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef> Price </th>
        <td mat-cell *matCellDef="let element"> {{element.price}} </td>
    </ng-container>

    <!-- Number of rooms Column -->
    <ng-container matColumnDef="count">
        <th mat-header-cell *matHeaderCellDef> Number of Room </th>
        <td mat-cell *matCellDef="let element"> {{element.count}} </td>
    </ng-container>

    <!-- Max adules Column -->
    <ng-container matColumnDef="maxAdules">
        <th mat-header-cell *matHeaderCellDef> Max adules </th>
        <td mat-cell *matCellDef="let element"> {{element.maxAdules}} </td>
    </ng-container>
    <!-- Markup Column -->
    <ng-container matColumnDef="markup">
        <th mat-header-cell *matHeaderCellDef> Markup </th>
        <td mat-cell *matCellDef="let element"> {{element.markup}} </td>
    </ng-container>

    <!-- Status Column -->
    <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> Status</th>
        <td mat-cell *matCellDef="let element">
            {{element.status}}</td>
    </ng-container>

    <!-- Delete Column -->
    <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef> Delete</th>
        <td mat-cell *matCellDef="let element">
            <button mat-icon-button aria-label="Example icon button with a vertical three dot icon"
                [disabled]="element.isExpired" (click)="delete(element.id)" class="button">
                <mat-icon>delete</mat-icon>
            </button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
    </tr>
</table>
<app-spinner *ngIf="isSpinne"></app-spinner>